<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-sm-12 col-md-9 col-lg-6 col-xl-5 mt-5">
                <img src="assets/user.jpeg" class="img-fluid" alt="Login Image">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
                <div class="card shadow-2-strong" style="border-radius: 5rem; border: none;">
                    <h2>Create Your Account</h2>
                    <div class="card-body p-5">
                        <form (ngSubmit)="signUp()">
                            <!-- Name input -->
                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold">Name</label>
                                <input type="name" id="name" class="form-control" placeholder="Enter your name"
                                    name="name" [(ngModel)]="user.name" />
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold">Email</label>
                                <input type="email" id="email" class="form-control"
                                    placeholder="Enter a valid email address" name="email" [(ngModel)]="user.email" />
                            </div>

                            <!-- Mobile input -->
                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold">Mobile No </label>
                                <input type="text" id="aboutYou" class="form-control" placeholder="Mobile Number"
                                    name="aboutYou" [(ngModel)]="user.mobileNo" />
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <label class="form-label fw-bold">Password</label>
                                <input type="password" id="password" class="form-control" placeholder="Enter password"
                                    name="password" [(ngModel)]="user.password" />
                            </div>

                            <div class="text-center text-lg-start mt-3 pt-2">
                                <button type="submit" id="signup-submit" class="btn btn-primary btn-md"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="isLoading">Sign
                                    Up</button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Alreday have an account? <a
                                        [routerLink]="['/Login']" class="register-link">Sign In</a></p>
                            </div>
                        </form>
                        <div *ngIf="isLoading" class="spinner-container">
                            <div class="spinner"></div>
                            <p>Signup in process...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>